:root {
    --color-bg: #f6f4efff;
    --color-bg-2: #6d514fff;
    --color-bg-3: rgb(69, 71, 74);

    --color-text: #252627ff;
    --color-text-2: #efede7ff;

    --gradient-text: radial-gradient(circle, rgba(199,147,142,1) 17%, rgba(147,81,46,1) 100%);
}